<?php
/**
 * Tela inicial
 */
?>
<div class="row" style="margin: 0px auto; margin-top: 60px; width: 500px;">

<?php

    echo $this->Form->create(${{ pluralHumanName }}Form);

    {% for field in fields %}

    echo $this->Form->control( '{{ field }}' );

    {% endfor %}

    echo "<div>";

    echo $this->Form->button('Enviar', ['type'=>'submit', 'class'=>'button'] );

    if ( $serialPost )
    {
        echo "&nbsp;".$this->Html->link('Limpar', ['action'=>'limpar', $serialPost], ['class'=>'button'] );
    }

    echo "</div>";

    echo $this->Form->end();

?>

</div>